{% extends 'layout.html' %}
{%block content%}
        <div class="about-section">
            <div class="inner-container">
                <h1>About us</h1>
                <p class="text">
                WeShare is an online journal or informational website displaying information in the reverse chronological order, with the latest posts appearing first, at the top. It is a platform where a writer or a group of writers share their views on an individual subject.
                </p>
                <div class="skills">
                    <span>Read</span>
                    <span>Share</span>
                    <span>Discuss</span>
                </div>
            </div>
        </div>   
{%endblock content%}

   
